doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    title Fastfood S&amp;D
    meta(name="description" content="Meniu Fastfood S&D Bascov")
    meta(name="keywords" content="Fastfood, S&D, Burger, Bauturi, Pizza, Shaorma")
    meta(name="author" content="Fastfood S&D Bascov")
    link(rel="icon" type="image/svg+xml" href="favicon.svg")
    link(rel="stylesheet" href="styles.css")
    // Google tag (gtag.js)
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-4TST5TYVXR")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4TST5TYVXR');
  body
    include ./reusable/menu-entry.pug
    include ./reusable/menu-header.pug
    nav.menu-header
      ul
        each products, mainCat in Meniu
          +menu-header(mainCat, mainCat)
    main.menu-body
      each products, mainCat in Meniu
        section(id=mainCat)
          .heading-wrapper
            h2= mainCat
            - const subCategoryKeys = Object.keys(products).filter(key => Array.isArray(products[key]));
            if subCategoryKeys.length
              .select-type-wrapper
                - let isFirst = true
                each index in subCategoryKeys
                  input(id=`p-${index}` type='radio' name=mainCat class='d-none' value=index checked=isFirst)
                  - isFirst = false
                  label(for=`p-${index}`)= index
          each product, index in products
            if typeof product === 'object' && !Array.isArray(product)
              +menu-entry(
                product.name,
                product.price,
                product.description,
                product.image
              )
            if Array.isArray(product)
              section(id=`p-${index}`)
                h4.sub-cat-header= `${mainCat} ${index}`
                each subP in product
                  +menu-entry(
                    subP.name,
                    subP.price,
                    subP.description,
                    subP.image
                  )
    script(type="module", src="script.js") 
